{% extends '_layout/_base_form.html' %}

{% block title %}{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 文章分类列表
                    <small>Article Category List</small>
                </div>
            </div>
        </div>

    </div>

    <div class="row-content am-cf">


        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">文章分类列表</div>
                    </div>
                    <div class="widget-body widget-body-lg am-fr">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-success" onclick="window.location.href='{{ url_for('article.category_add') }}'"><span class="am-icon-plus"></span> 新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-scrollable-horizontal ">
                            <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black" id="example-r">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分类名称</th>
                                    <th>分类描述</th>
                                    <th>分类图片</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categorys %}
                                    <tr class="{{ loop.cycle('gradeX', 'even gradeC') }}">
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.description }}</td>
                                        <td><img src="{{ url_for('get_file', filename=category.img) }}" width="150px"></td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="{{ url_for('singlepage.category_edit', category_id=category.id) }}">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="{{ url_for('singlepage.category_delete', category_id=category.id) }}" onclick="return category_delete();" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        function category_delete() {
            let msg = "您真的确定要删除吗？\n\n请确认！";

            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}