<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}布局模板Title{% endblock %}</title>
    <meta name="description" content="{% block description %}布局模板Description{% endblock %}">
    <meta name="keywords" content="{% block keywords %}布局模板Keywords{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="{{ url_for('static', filename='assets/js/echarts.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

</head>

<body data-type="widgets">
{% include '_layout/_theme_js.html' %}
<div class="am-g tpl-g">
    <!-- 头部 -->
    {% include '_layout/_header.html' %}
    <!-- 风格切换 -->
    {% include '_layout/_theme_code.html' %}
    <!-- 侧边导航栏 -->
    {% include '_layout/_left_nav.html' %}

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        {% block content %}{% endblock %}
    </div>
</div>
{% include '_layout/_footer_js.html' %}
</body>

</html>